In [2]:
from sqlalchemy import *
import pandas as pd
engine = create_engine('postgresql://student_ies:PythonData@localhost:5432/student_ies')

/opt/anaconda3/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

# Lecture 7 - Intro to databases

### Contents:
* Databases
* DataTypes
* Tables
* Schema
* Joins
* Python - SQLAlchemy
* Pandas implementation!

## Relational databases

* huge data 
* simultanous access and changes of it
* read it very fast
* Raw data
* Combine various sources of data
* manage access to data
* include inside business processes
* Many different applications!
    * Business
    * Web-servers
    * Big data

## SQL
*Structured Query Language*
* Human readable
* Different implementations
    * SQLite, MySQL, Oracle, PostgreSQL
* SQL is only a language
* Data are stored in *Tables* 
* Connected via *Relations*
* NoSQL
* Allow for limited aggregation, filtering and analysis

## How to use it? 
* Command-line
* Programming interface
* GUI Interface - [DBeaver](https://dbeaver.io/)
* Integration with existing software - MS Office, GIS, etc

### Data Layers
* Value < Rows < Tables < Schemas < Databases < Database servers

### Data Types
depends on specific application
* numeric
    * INT, INTEGER, REAL, FLOAT, DOUBLE etc.
* strings
    * STRING, TEXT, VARCHAR
* more specialized
    * DATE, TIME etc.

### IES database
The data from past lecture are stored in three tables:

*people*, *courses* and *theses*

Try to explore:

In [5]:
pd.read_sql_query(
'''
SELECT * FROM people
''',con=engine).columns

Index(['id', 'name', 'position', 'field_of_interest', 'membership', 'office',
       'email', 'phone', 'available', 'organisation_memberships', 'education',
       'job_history', 'extra_activities', 'bachelor_theses', 'master_theses',
       'researcher', 'category', 'bachelor_all', 'bachelor_awarded',
       'master_all', 'master_awarded'],
      dtype='object')

### SELECT statement

I want to know all the most succesful teachers on IES in terms of theses (bachelor and masters) supervision

In [ ]:
SELECT id,
    (master_awarded + bachelor_awarded) AS awarded,
    (master_all + bachelor_all) AS all,
    (master_awarded + bachelor_awarded)/(master_all + bachelor_all) AS award_share  
FROM people
WHERE (master_awarded + bachelor_awarded)/(master_all + bachelor_all) != 'NaN'
ORDER BY award_share DESC
LIMIT 10

In [8]:
pd.read_sql_query(
'''
SELECT id,name,
    (bachelor_awarded + master_awarded)/(bachelor_all + master_all) as share_awarded
FROM people
ORDER BY share_awarded DESC
LIMIT 10
''',con=engine)

             id  name  share_awarded
0         fencl  None            NaN
1    dolezalova  None            NaN
2       kopecna  None            NaN
3      smidkova   NaN            NaN
4     micuchova  None            NaN
5         fcech  None            NaN
6  schnellerova  None            NaN
7       komarek  None            NaN
8        nevrla  None            NaN
9       firtova  None            NaN

What is missing? 

### Relations!

see other two tables:

*people_courses* and *people_theses*

In [12]:
pd.read_sql_query(
'''
SELECT * FROM people_courses
''',con=engine).head()

  people-id  courses-id
0   barunik      JEM005
1   barunik  JED412,413
2   vosvrda  JED412,413
3   barunik      JEM059
4     vacha      JEM059

### JOINS 

* connecting tables - relations!



<img src='https://www.dofactory.com/Images/sql-joins.png'/>

### Inner
* most common - give me the match!
* when you see match, keep it, otherwise drop it.

In [15]:
pd.read_sql_query(
'''
SELECT c.name,p.researcher FROM courses c
INNER JOIN people_courses pc ON c.id = pc."courses-id" 
INNER JOIN people p ON p.id = pc."people-id"
''',con=engine).head()

,name,researcher
0,JEM005 - Advanced Econometrics,doc. PhDr. Jozef Baruník Ph.D.
1,"JED412,413 - Nonlinear Dynamic Economic System...",doc. PhDr. Jozef Baruník Ph.D.
2,"JED412,413 - Nonlinear Dynamic Economic System...",prof. Ing. Miloslav Vošvrda CSc.
3,JEM059 - Quantitative Finance I,doc. PhDr. Jozef Baruník Ph.D.
4,JEM059 - Quantitative Finance I,Mgr. Lukáš Vácha Ph.D.

### Left 
INNER + rows from LEFT with no match in the RIGHT

In [ ]:
pd.read_sql_query(
'''
SELECT * FROM courses c
LEFT JOIN people_courses pc ON c.id = pc."courses-id"
''',con=engine).head()

### Right
INNER + rows from RIGHT with no match in the LEFT

In [ ]:
pd.read_sql_query(
'''
SELECT * FROM courses c
RIGHT JOIN people_courses pc ON c.id = pc."courses-id"
''',con=engine).head()

### FULL 
INNER + rows from both LEFT and RIGHT with no match in other table

In [ ]:
pd.read_sql_query(
'''
SELECT * FROM courses c
FULL JOIN people_courses pc ON c.id = pc."courses-id"
''',con=engine).head()

### MULTIPLE JOINS

In [ ]:
pd.read_sql_query('''
SELECT p.researcher,c.name FROM people p
INNER JOIN people_courses pc ON p.id = pc."people-id"
INNER JOIN courses c ON pc."courses-id" = c.id
''',con=engine).head()

## CREATE TABLE

jump to DBeaver

explore *courses*, *theses* and *people*

## Integration to Pandas
* using SQLAlchemy
* Compatible across databases
* beyond the scope of this lecture

BUT! 
### Connection Strings:
` create_engine('postgresql://student_ies:PythonData@localhost:5432/student_ies')` 

or 

` create_engine('sqlite:///sqlite.db')` 

### pd.read_sql_query

In [20]:
conn = create_engine('postgresql://student_ies:PythonData@localhost:5432/student_ies')
pd.read_sql_table('people',con=conn).head()

,id,name,position,field_of_interest,membership,office,email,phone,available,organisation_memberships,...,job_history,extra_activities,bachelor_theses,master_theses,researcher,category,bachelor_all,bachelor_awarded,master_all,master_awarded
0,barunik,None,Associate Professor,"Financial Economics, Financial Econometrics","Internal, Macroeconomics and Econometrics",503,barunik [AT] fsv [DOT] cuni [DOT] cz,+420(776)259273,upon request,"The Econometric Society, The Society for Finan...",...,2017 - research visit Humboldt-Universität zu ...,2018+ President of the Czech Econometric Socie...,I welcome any topic in the field of Applied Fi...,My research interest is in Econometrics of Fin...,doc. PhDr. Jozef Baruník Ph.D.,Current faculty,4.0,0.0,54.0,20.0
1,bauerm,None,Associate Professor,"Development Economics, Behavioral Economics, E...","Institutional Economics, Internal",402,bauerm [AT] fsv [DOT] cuni [DOT] cz,222 112 329,Tue 11-12.30,None,...,ACADEMIC AFFILIATIONS\n\r\n2017+ \tCERGE-EI (u...,None,None,Topics in applied development microeconomics a...,doc. PhDr. Michal Bauer Ph.D.,Current faculty,5.0,1.0,9.0,5.0
2,baxajaromir,None,Assistant Professor,"Macroeconomics, Institutional Economics","Internal, Macroeconomics and Econometrics",311,jaromir [DOT] baxa [AT] fsv [DOT] cuni [DOT] cz,222 112 309,by appointment,None,...,2006 - Teaching at the IES FSV UK graduate cou...,"2012 - Liberec region, member of Regional asse...",If you wish to write a bachelor thesis with me...,"If you wish to write a diploma thesis with me,...",PhDr. Jaromír Baxa Ph.D.,Current faculty,8.0,2.0,38.0,7.0
3,antosova,None,"Adjunct Lecturer, Research Fellow","Health Economics, Health Policy",European Economic Integration and Economic Pol...,,lucie [DOT] bryndova [AT] centrum [DOT] cz,,based on agreement via email,None,...,"2008 + JEM101 Health Economics, IES FSV UK\...",None,any topic from the health economics field,any topic from the health economics field,PhDr. Lucie Bryndová,Current faculty,2.0,1.0,3.0,1.0
4,cahlik,None,Associate Professor,"Macroeconomics, Economic Development and Growt...","Internal, Macroeconomics and Econometrics",410,cahlik [AT] fsv [DOT] cuni [DOT] cz,222 112 318,Thursday 4.00 - 5.00 pm Room No. 410,None,...,1980-85 Teaching at the University of Economic...,2000+ Member of the Czech Economic Society (...,Please look into the SIS,Please look into the SIS,doc. Ing. Tomáš Cahlík CSc.,Current faculty,60.0,3.0,39.0,8.0

### pd.read_sql_table

In [21]:
df = pd.DataFrame()
?df.to_sql

Signature:
df.to_sql(
    ['name', 'con', 'schema=None', "if_exists='fail'", 'index=True', 'index_label=None', 'chunksize=None', 'dtype=None'],
)
Docstring:
Write records stored in a DataFrame to a SQL database.

Databases supported by SQLAlchemy [1]_ are supported. Tables can be
newly created, appended to, or overwritten.

Parameters
----------
name : string
    Name of SQL table.
con : sqlalchemy.engine.Engine or sqlite3.Connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library. Legacy support is provided for sqlite3.Connection objects.
schema : string, optional
    Specify the schema (if database flavor supports this). If None, use
    default schema.
if_exists : {'fail', 'replace', 'append'}, default 'fail'
    How to behave if the table already exists.

    * fail: Raise a ValueError.
    * replace: Drop the table before inserting new values.
    * append: Insert new values to the existing table.

index : boolean, default True
    Write DataFrame index as a column. Uses `index_label` as the column
    name in the table.
index_label : string or sequence, default None
    Column label for index column(s). If None is given (default) and
    `index` is True, then the index names are used.
    A sequence should be given if the DataFrame uses MultiIndex.
chunksize : int, optional
    Rows will be written in batches of this size at a time. By default,
    all rows will be written at once.
dtype : dict, optional
    Specifying the datatype for columns. The keys should be the column
    names and the values should be the SQLAlchemy types or strings for
    the sqlite3 legacy mode.

Raises
------
ValueError
    When the table already exists and `if_exists` is 'fail' (the
    default).

See Also
--------
pandas.read_sql : read a DataFrame from a table

References
----------
.. [1] http://docs.sqlalchemy.org
.. [2] https://www.python.org/dev/peps/pep-0249/

Examples
--------

Create an in-memory SQLite database.

>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite://', echo=False)

Create a table from scratch with 3 rows.

>>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
>>> df
     name
0  User 1
1  User 2
2  User 3

>>> df.to_sql('users', con=engine)
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

>>> df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
>>> df1.to_sql('users', con=engine, if_exists='append')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
 (0, 'User 4'), (1, 'User 5')]

Overwrite the table with just ``df1``.

>>> df1.to_sql('users', con=engine, if_exists='replace',
...            index_label='id')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 4'), (1, 'User 5')]

Specify the dtype (especially useful for integers with missing values).
Notice that while pandas is forced to store the data as floating point,
the database supports nullable integers. When fetching the data with
Python, we get back integer scalars.

>>> df = pd.DataFrame({"A": [1, None, 2]})
>>> df
     A
0  1.0
1  NaN
2  2.0

>>> from sqlalchemy.types import Integer
>>> df.to_sql('integers', con=engine, index=False,
...           dtype={"A": Integer()})

>>> engine.execute("SELECT * FROM integers").fetchall()
[(1,), (None,), (2,)]
File:      /opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py
Type:      method

In [ ]:
awarded = pd.read_sql_query(
'''
SELECT id,
    (master_awarded + bachelor_awarded) AS awarded,
    (master_all + bachelor_all) AS all,
    (master_awarded + bachelor_awarded)/(master_all + bachelor_all) AS award_share  
FROM people
WHERE (master_awarded + bachelor_awarded)/(master_all + bachelor_all) != 'NaN'
ORDER BY award_share DESC
''',con=engine)

In [ ]:
from bokeh.models import ColumnDataSource
from bokeh.io import show, output_file,output_notebook
from bokeh.plotting import figure

output_file('index.html')
source = ColumnDataSource(data = {col:awarded[col][:10] for col in awarded.columns})

TOOLTIPS = [
    ("id", "$id"),
    ("awarded theses", "$awarded"),
    ("all theses",'$all')

]


p = figure(x_range=awarded.id[:10], plot_height=250, title="Best people (by share of awarded theses)",tooltips=TOOLTIPS)

p.vbar(x='id', top='award_share', width=0.9,source=source)

p.xgrid.grid_line_color = None

show(p)