## Midterm - April 5, 18:30 - 19:55, in person, but can be done remotely
- make sure you are enrolled in SIS! **If not** and want to take the midterm, let us know **ASAP**
- Have a working knowledge how to:
    - iterate multiple objects
    - be able to construct a dataset from pieces
    - receive and send data through HTTP protocol (requests)
    - perform financial analysis
    - basic statistical manipulation
    - basic plotting
    
- open book: google as much as you wish
- everyone has custom made data and problems - given past results, even if anyone tried to cheat, it did not help


### Warmup

# Why is this useful?
![alt text](bstree.png "Our DB")

# Lecture 8 - Intro to databases

### Contents:

* Databases - dockerized versions(quickly as it is way above the course)
* DataTypes
* Tables
* Joins
* Python - SQLAlchemy
* SQL + Pandas implementation!

## Why do I need it?

* Peristence of data
* Csvs might not be suitable anymore:
    * No data sanitation
    * Cannot share between clients (download continually data from multiple sources and create a single file)
    * Files can get corrupted, inconsistent, no security, easily deleted etc...
    * What if something happens during a write? Your computer crashes? File will have issues
    * Parallel writing
    * Speed of writing/reading

* Lookup in the dataset! Always need to load the whole thing

## Relational databases

* optimize storage -> use normalized data - discover relations using joins
* normalization of data - each table contains its specific data and relates to others through keys
* designed on ACID principle - Atomicity, Consistency, Isolation, Durability
* store huge data 
* read it very fast - depending on the design
* Many different applications!
    * Business
    * Web-servers
    * Big data
    
* Protected access with username / password, vpns
* Users have specific permissions! Read/write/delete

## SQL
*Structured Query Language*
* Human (easily) readable
* Different implementations
    * engines: SQLite, MySQL, Oracle, PostgreSQL
* SQL is only a language
* Data are stored in *Tables* 
* Connected via *Relations*
* NoSQL - MongoDB, CouchDB, DynamoDB - they optimize access speed, instead of storage (now storage is cheap), async, scalable and latency optimal
* Distributed databases such as Apache Hive - big data databases (map-reduce) how
![image.png](google.png)



### Database Layers
![alt text](sql_struktura.png "sql structures")


### Tables
Outline of today's problems
![alt text](stock-db.png "Our DB")


### Data Types
depends on specific application
* numeric
    * INT, INTEGER, REAL, FLOAT, DOUBLE etc.
* strings
    * STRING, TEXT, VARCHAR
* more specialized
    * DATE, TIME etc.


## How to use it? 
* Command-line
* Python drivers
* Programming interface
* GUI Interface - [DBeaver](https://dbeaver.io/)
* Integration with existing software - MS Office, etc


We always connect to the server, to establish a connection. Then use a cursor (client) to send commands and retreive results the DB prepares for us.

## My problem - I want to keep data about stocks for analysis

* Would I always need to download data which does not chage?
* Run different queries - analysis
* More stocks can be added any day
* Keep format

In [32]:
#!pip install yfinance

import yfinance as yf

msft = yf.Ticker("MSFT")

In [ ]:
#data like this so what do I want to keep? and how?
msft.info

## Lets create a database for this data

* Where to store it?
  *  memory: fast, will be lost once exited
  * personal computer - why not, but can be lost, ?performance?
  * cloud server - SaaS - https://aws.amazon.com/rds/postgresql/ - if you want to learn this, drop as an email, we might add it to the course


* Demo - postgresql server instance running in Docker on your computer - quick to start using, no installation etc.
  * ! docker will create a container where the data will be stored - if you lose the image, you lose the data!
  * It is possible to create have the data in a specific directory, thus persistent - if you really really need persistence of the data, get the cloud server, or read the manual https://hub.docker.com/_/postgres

### which docker image? 
https://hub.docker.com/_/postgres
    
docker allows me to easily specify versions, size of image and other things!

### if you have docker running on your machine, you can easily start the database from terminal / command line

* I am running latest postgres 12 based on alpine linux system (dont really care when in docker, but it is slim)
* Specifying the image name `--name your name` - I can stop it `docker stop name` and start it again `docker start name`
   * if not supplied, it will be created by docker with some funny adjective of a scientist like 'crazy einstein' etc.
* specify env variables which will customize the DB (password and postgres user)
* specify on which port I can access the db -p 5423:5432 `-p 54322:5432` - in the docker it runs on default postgres 5432, I want to get there through my own 54322 port, since nothing is running there. 

* recommending add `-d` so it runs in backgroung

* access logs `docker logs stock-db`


`docker run -d --name stock-db -e POSTGRES_PASSWORD=iesFTW -e POSTGRES_USER=honza -p 54322:5432 postgres:12-alpine`

### how to connect?

* Now we have a server - we need a client (like with requests - browser)
   * Not a bad idea to get familiar with command line tools `psql` client  - on MacOS `brew install libpq`
   * GUI clients - multiplatform https://dbeaver.io/ and others  - on macOS `brew cask install dbeaver-community`   
 
* terminal connect:
   * `psql -h localhost -U honza postgres` and put in password `iesFTW`
   * `\dt+` command to show all tables
   * default database name is `postgres`, thats the last parameter. You can customize it with docker
   * by default `psql` would connect you to database with name same as the user (jansila) in my case, so do not get confused here
 
* DBeaver as shown in video

### Crucial commands

* CREATE TABLE
* INSERT INTO ... VALUES ....
* SELECT * FROM ...

## Data types

like in python - int, string (varchar, text), float, boolean, even json, arrays, coordinates etc..
https://www.postgresql.org/docs/10/datatype.html

In [ ]:
#save some data - design a database

# determine appropriate structure!

# tables - company, financials, prices
# each has own purpose

sql_create_company = """ CREATE TABLE IF NOT EXISTS company (
                            ticker VARCHAR(5) PRIMARY KEY, --max length of a ticker is 5
                            name TEXT NOT NULL, --cannot be empty
                            sector TEXT,
                            state TEXT,
                            summary TEXT)
"""


sql_create_financials = """CREATE TABLE financials (
    ticker VARCHAR(5) PRIMARY KEY, -- in more advanced designs, we would create this as foreign key! only one observation per ticker
    shares BIGINT,
    div_yield REAL,
    beta REAL
)"""

sql_create_prices = """CREATE TABLE IF NOT EXISTS prices (
    ticker VARCHAR(5),
    ts DATE NOT NULL,
    price REAL,
    volume BIGINT --in milions
    )
    """

In [34]:
# lets connect
import psycopg2 #only for PostgreSQL

connection = psycopg2.connect("dbname='postgres' user='honza' host='db' password='iesFTW'") 
connection.autocommit = True #bit advanced
# in order to work with the DB, we need a cursor 

cursor = connection.cursor() #this object interacts with the DB with a proper protocol - like browser

for sql_statement in [sql_create_company, sql_create_financials, sql_create_prices]:
    print(sql_statement)
    cursor.execute(sql_statement)

 CREATE TABLE IF NOT EXISTS company (
                            ticker VARCHAR(5) PRIMARY KEY, --max length of a ticker is 5
                            name TEXT NOT NULL, --cannot be empty
                            sector TEXT,
                            state TEXT,
                            summary TEXT)

CREATE TABLE financials (
    ticker VARCHAR(5) PRIMARY KEY, -- in more advanced designs, we would create this as foreign key! only one observation per ticker
    shares BIGINT,
    div_yield REAL,
    beta REAL
)
CREATE TABLE IF NOT EXISTS prices (
    ticker VARCHAR(5),
    ts DATE NOT NULL,
    price REAL,
    volume BIGINT --in milions
    )

In [ ]:
f"company VALUES ({company});

In [35]:
def write_company_data(cursor, ticker, td):
    cursor.execute("INSERT INTO company (ticker, name, sector, state, summary) VALUES (%s, %s, %s, %s, %s)", 
                       (ticker, td['shortName'], td['sector'], td['state'], td['longBusinessSummary'])
                  )
def write_financial_data(cursor, ticker, td):
    cursor.execute("INSERT INTO financials (ticker, shares, div_yield, beta) VALUES (%s, %s, %s, %s)", 
                       (ticker, td['floatShares'], td['dividendYield'],td['beta'])
                  )

def write_prices(cursor, ticker, data):
    for row in data.iterrows():
        ts = row[0]
        close = row[1]['Close']
        vol = row[1]['Volume']
        cursor.execute("INSERT INTO prices (ticker, ts, price, volume) VALUES (%s, %s, %s, %s)", 
                       (ticker, ts, close,vol)
                  )
        
## add some data in the db
tickers = ['MSFT', 'FB','GOOG','GS','INTC', 'AAL', 'AAPL']

#yf api https://aroussi.com/post/python-yahoo-finance

for ticker in tickers: 
    td = yf.Ticker(ticker)
    print(f'processing {ticker}')
    #write some company info and then check it
    write_company_data(cursor, ticker, td.info)
    write_financial_data(cursor, ticker, td.info)
    write_prices(cursor, ticker, td.history('ytd'))
    
print('we are done')

processing MSFT
processing FB
processing GOOG
processing GS
processing INTC
processing AAL
processing AAPL
we are done

In [40]:
cursor.execute("SELECT * FROM company;")

In [41]:
cursor.fetchall()

[('FB',
  'Meta Platforms, Inc.',
  'Communication Services',
  'CA',
  "Meta Platforms, Inc. develops products that enable people to connect and share with friends and family through mobile devices, personal computers, virtual reality headsets, wearables, and in-home devices worldwide. It operates in two segments, Family of Apps and Reality Labs. The Family of Apps segment's products include Facebook, which enables people to share, discover, and connect with interests; Instagram, a community for sharing photos, videos, and private messages, as well as feed, stories, reels, video, live, and shops; Messenger, a messaging application for people to connect with friends, family, groups, and businesses across platforms and devices through chat, audio and video calls, and rooms; and WhatsApp, a messaging application that is used by people and businesses to communicate and transact privately. The Reality Labs segment provides augmented and virtual reality related products comprising virtual reality hardware, software, and content that help people feel connected, anytime, and anywhere. The company was formerly known as Facebook, Inc. and changed its name to Meta Platforms, Inc. in October 2021. Meta Platforms, Inc. was incorporated in 2004 and is headquartered in Menlo Park, California."),
 ('GOOG',
  'Alphabet Inc.',
  'Communication Services',
  'CA',
  'Alphabet Inc. provides various products and platforms in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment offers products and services, including ads, Android, Chrome, hardware, Gmail, Google Drive, Google Maps, Google Photos, Google Play, Search, and YouTube. It is also involved in the sale of apps and in-app purchases and digital content in the Google Play store; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in the provision of YouTube non-advertising services. The Google Cloud segment offers infrastructure, platform, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar, and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services. The company was founded in 1998 and is headquartered in Mountain View, California.'),
 ('GS',
  'Goldman Sachs Group, Inc. (The)',
  'Financial Services',
  'NY',
  "The Goldman Sachs Group, Inc., a financial institution, provides a range of financial services for corporations, financial institutions, governments, and individuals worldwide. It operates through four segments: Investment Banking, Global Markets, Asset Management, and Consumer & Wealth Management. The company's Investment Banking segment provides financial advisory services, including strategic advisory assignments related to mergers and acquisitions, divestitures, corporate defense activities, restructurings, and spin-offs; and middle-market lending, relationship lending, and acquisition financing, as well as transaction banking services. This segment also offers underwriting services, such as equity underwriting for common and preferred stock and convertible and exchangeable securities; and debt underwriting for various types of debt instruments, including investment-grade and high-yield debt, bank and bridge loans, and emerging-and growth-market debt, as well as originates structured securities. Its Global Markets segment is involved in client execution activities for cash and derivative instruments; credit and interest rate products; and provision of equity intermediation and equity financing, clearing, settlement, and custody services, as well as mortgages, currencies, commodities, and equities related products. The company's Asset Management segment manages assets across various classes, including equity, fixed income, hedge funds, credit funds, private equity, real estate, currencies, and commodities; and provides customized investment advisory solutions, as well as invests in corporate, real estate, and infrastructure entities. Its Consumer & Wealth Management segment offers wealth advisory and banking services, including financial planning, investment management, deposit taking, and lending; private banking; and unsecured loans, as well as accepts saving and time deposits. The company was founded in 1869 and is headquartered in New York, New York."),
 ('INTC',
  'Intel Corporation',
  'Technology',
  'CA',
  'Intel Corporation engages in the design, manufacture, and sale of computer products and technologies worldwide. The company operates through CCG, DCG, IOTG, Mobileye, NSG, PSG, and All Other segments. It offers platform products, such as central processing units and chipsets, and system-on-chip and multichip packages; and non-platform or adjacent products, including accelerators, boards and systems, connectivity products, graphics, and memory and storage products. The company also provides high-performance compute solutions for targeted verticals and embedded applications for retail, industrial, and healthcare markets; and solutions for assisted and autonomous driving comprising compute platforms, computer vision and machine learning-based sensing, mapping and localization, driving policy, and active sensors. In addition, it offers workload-optimized platforms and related products for cloud service providers, enterprise and government, and communications service providers. The company serves original equipment manufacturers, original design manufacturers, and cloud service providers. Intel Corporation has a strategic partnership with MILA to develop and apply advances in artificial intelligence methods for enhancing the search in the space of drugs. The company was incorporated in 1968 and is headquartered in Santa Clara, California.'),
 ('AAL',
  'American Airlines Group, Inc.',
  'Industrials',
  'TX',
  'American Airlines Group Inc., through its subsidiaries, operates as a network air carrier. The company provides scheduled air transportation services for passengers and cargo through its hubs in Charlotte, Chicago, Dallas/Fort Worth, Los Angeles, Miami, New York, Philadelphia, Phoenix, and Washington, D.C., as well as through partner gateways in London, Madrid, Seattle/Tacoma, Sydney, and Tokyo. As of December 31, 2021, it operated a mainline fleet of 865 aircraft. The company was formerly known as AMR Corporation and changed its name to American Airlines Group Inc. in December 2013. American Airlines Group Inc. was founded in 1930 and is headquartered in Fort Worth, Texas.'),
 ('AAPL',
  'Apple Inc.',
  'Technology',
  'CA',
  'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.'),
 ('MSFT',
  'Microsoft Corporation no bugs please',
  'Technology',
  'WA',
  'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.')]

In [42]:
#check all companies we downloaded

cursor.execute("SELECT ticker, name, sector FROM company;")

for row in cursor.fetchall(): #cursor.fetchone(), 
    print(f'downloaded {row[1]} that operates in {row[2]} and has ticker: {row[0]}')

downloaded Meta Platforms, Inc. that operates in Communication Services and has ticker: FB
downloaded Alphabet Inc. that operates in Communication Services and has ticker: GOOG
downloaded Goldman Sachs Group, Inc. (The) that operates in Financial Services and has ticker: GS
downloaded Intel Corporation that operates in Technology and has ticker: INTC
downloaded American Airlines Group, Inc. that operates in Industrials and has ticker: AAL
downloaded Apple Inc. that operates in Technology and has ticker: AAPL
downloaded Microsoft Corporation no bugs please that operates in Technology and has ticker: MSFT

In [43]:
cursor.fetchall()

[]

In [46]:
cursor.execute("SELECT ticker, name, sector from company;")

In [54]:
cursor.fetchone()

In [55]:
#or iterate 
cursor.execute("SELECT ticker, name, sector from company;")

for row in cursor:
    print(row)

('FB', 'Meta Platforms, Inc.', 'Communication Services')
('GOOG', 'Alphabet Inc.', 'Communication Services')
('GS', 'Goldman Sachs Group, Inc. (The)', 'Financial Services')
('INTC', 'Intel Corporation', 'Technology')
('AAL', 'American Airlines Group, Inc.', 'Industrials')
('AAPL', 'Apple Inc.', 'Technology')
('MSFT', 'Microsoft Corporation no bugs please', 'Technology')

In [59]:
#check all technology companies we downloaded

#df[df.sector=='Tech'] #where clause
 
#case 1
# cursor.execute("SELECT ticker, name FROM company WHERE sector = 'Technology';")
# for row in cursor.fetchall():
#     print(f'downloaded {row[1]} and has ticker: {row[0]}')

# print('-----')
#check all technology companies we downloaded
#case 2
cursor.execute("SELECT ticker, name from company where sector = %s;", ('Technology', )) #input needs to be a tuple!
for row in cursor.fetchall():
    print(f'downloaded a tech company {row[1]} and has ticker: {row[0]}')
    
    
    
print('-----')

#check all Tech and Industrial companies we downloaded
#case 3
for industry in [('Technology',), ('Industrials',)]:

    cursor.execute("SELECT ticker, name from company where sector = %s;", industry) #input needs to be a tuple!
    for row in cursor.fetchall():
        print(f'downloaded a {industry[0]} company {row[1]} and has ticker: {row[0]}')

downloaded a tech company Intel Corporation and has ticker: INTC
downloaded a tech company Apple Inc. and has ticker: AAPL
downloaded a tech company Microsoft Corporation no bugs please and has ticker: MSFT
-----
downloaded a Technology company Intel Corporation and has ticker: INTC
downloaded a Technology company Apple Inc. and has ticker: AAPL
downloaded a Technology company Microsoft Corporation no bugs please and has ticker: MSFT
downloaded a Industrials company American Airlines Group, Inc. and has ticker: AAL

In [60]:
# joins
# just like in pandas

# I have information in company table as well as financials which I wan to use at the same time!

cursor.execute("""SELECT comp.ticker, comp.sector, fin.shares 
                    
                    from company as comp 
                    
                        join financials as fin 
                    
                    on fin.ticker=comp.ticker
                ;""")
for row in cursor.fetchall():
    print(f'ticker {row[0]} in sector {row[1]} with {row[2]} shares outstanding')

ticker MSFT in sector Technology with 7489894342 shares outstanding
ticker FB in sector Communication Services with 2290759134 shares outstanding
ticker GOOG in sector Communication Services with 573643790 shares outstanding
ticker GS in sector Financial Services with 321005577 shares outstanding
ticker INTC in sector Technology with 4068009440 shares outstanding
ticker AAL in sector Industrials with 641798641 shares outstanding
ticker AAPL in sector Technology with 16389662475 shares outstanding

### JOINS 

* connecting tables - relations!

<img src='https://4.bp.blogspot.com/-_HsHikmChBI/VmQGJjLKgyI/AAAAAAAAEPw/JaLnV0bsbEo/s1600/sql%2Bjoins%2Bguide%2Band%2Bsyntax.jpg' width="800" />

### Inner
* most common - give me the match!
* when you see match, keep it, otherwise drop it.

### Left 
* INNER + rows from LEFT with no match in the RIGHT

In [61]:
cursor.execute("""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;""")
for row in cursor.fetchall():
    print(f'ticker {row[0]} in sector {row[1]} with {row[2]} shares outstanding')

ticker MSFT in sector Technology with 7489894342 shares outstanding
ticker FB in sector Communication Services with 2290759134 shares outstanding
ticker GOOG in sector Communication Services with 573643790 shares outstanding
ticker GS in sector Financial Services with 321005577 shares outstanding
ticker INTC in sector Technology with 4068009440 shares outstanding
ticker AAL in sector Industrials with 641798641 shares outstanding
ticker AAPL in sector Technology with 16389662475 shares outstanding

In [62]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/a6/19/7c0df6878e414c0b6308fe3404387199176717c2053203b3e1f9aa13277e/SQLAlchemy-1.4.34-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6MB)
     |████████████████████████████████| 1.6MB 4.0MB/s eta 0:00:01
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/site-packages (from sqlalchemy) (4.8.1)
Collecting greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))))
  Downloading https://files.pythonhosted.org/packages/aa/e0/d6e21c642a477fc97aa667c64c8100fe4a63dd39e9b2dc3faafcfd03bef0/greenlet-1.1.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150kB)
     |████████████████████████████████| 153kB 2.3MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.6.0)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.34
WARNING: You are using pip version 19.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [63]:
from sqlalchemy import *
import pandas as pd

#                 connect as driver://username:password@host:port/database
engine = create_engine('postgresql://honza:iesFTW@db:5432/postgres') #postgresql.connection - similar object

In [64]:
#pandas + psycopg2

pd.read_sql_query("""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;""", connection, index_col='ticker')

                        sector       shares
ticker
MSFT                Technology   7489894342
FB      Communication Services   2290759134
GOOG    Communication Services    573643790
GS          Financial Services    321005577
INTC                Technology   4068009440
AAL                Industrials    641798641
AAPL                Technology  16389662475

In [65]:
#pandas + sqlalchemy
pd.read_sql_query(
"""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;"""
    ,con=engine,index_col='ticker')

                        sector       shares
ticker
MSFT                Technology   7489894342
FB      Communication Services   2290759134
GOOG    Communication Services    573643790
GS          Financial Services    321005577
INTC                Technology   4068009440
AAL                Industrials    641798641
AAPL                Technology  16389662475

In [66]:
#multiple joins with WHERE clause!

pd.read_sql_query("""SELECT comp.ticker, fin.shares,fin.div_yield, px.price as lprice
                    
                    from company as comp 
                        
                        join financials as fin
                            on fin.ticker=comp.ticker
                        
                        join prices as px
                            on px.ticker=comp.ticker
                        
                        WHERE px.ts='2022-03-18'
                  """,connection, index_col='ticker')

#SQL has order of business, it selects on WHERE, then joins

             shares  div_yield   lprice
ticker
FB       2290759134        NaN   216.49
GOOG      573643790        NaN  2736.03
GS        321005577     0.0242   345.38
INTC     4068009440     0.0303    47.45
AAL       641798641        NaN    16.75
AAPL    16389662475     0.0049   163.98
MSFT     7489894342     0.0080   300.43

<img src='sql_order.png' width="1800" />

In [ ]:
#algebra within a query

pd.read_sql_query("""SELECT comp.ticker, fin.shares, px.price as lprice, fin.shares*px.price/1e9 as mktcap_in_billions
                    from company as comp 
                        join financials as fin
                            on fin.ticker=comp.ticker
                        join prices as px
                            on px.ticker=comp.ticker
                        where px.ts='2020-01-02'
                  """,connection, index_col='ticker')

In [67]:
#all prices and calculated market caps

pd.read_sql_query("""SELECT comp.ticker, px.price as lprice, px.ts, fin.shares*px.price/1e9 as mktcap_in_billions
                    from company as comp 
                        join financials as fin
                            on fin.ticker=comp.ticker
                        join prices as px
                            on px.ticker=comp.ticker;
                  """,connection, index_col='ticker')

           lprice          ts  mktcap_in_billions
ticker
MSFT    334.05927  2022-01-03         2502.068600
MSFT    328.33112  2022-01-04         2459.165366
MSFT    315.72717  2022-01-05         2364.763166
MSFT    313.23233  2022-01-06         2346.077059
MSFT    313.39200  2022-01-07         2347.272955
...           ...         ...                 ...
AAPL    178.96000  2022-03-29         2933.094107
AAPL    177.77000  2022-03-30         2913.590368
AAPL    174.61000  2022-03-31         2861.798975
AAPL    174.31000  2022-04-01         2856.882026
AAPL    177.34000  2022-04-04         2906.542683

[448 rows x 3 columns]

In [ ]:
#create turnover variable

cursor.execute("""
                ALTER TABLE prices 
             ADD COLUMN IF NOT EXISTS turnover REAL;
             """)

cursor.execute("UPDATE prices SET turnover = volume*price") #df['turnover']=df.volume*df.price

pd.read_sql_query("""SELECT * from prices WHERE ticker='AAPL';
                  """,connection, index_col='ticker')

# SANITIZE YOUR INPUTS

<Img src='https://imgs.xkcd.com/comics/exploits_of_a_mom.png' />