## Midterm - November 29, 18:30 - 19:55, in person, but can be done remotely
- make sure you are enrolled in SIS! If not and want to take the midterm, let us know ASAP
- Have a working knowledge how to:
    - iterate multiple objects
    - be able to construct a dataset from pieces
    - receive and send data through HTTP protocol (requests)
    - perform financial analysis
    - basic statistical manipulation
    - basic plotting
    
- open book: google as much as you wish
- everyone has custom made data and problems - given past results, even if anyone tried to cheat, it did not help

# Lecture 8 - Intro to databases

### Contents:

* Databases - dockerized versions
* DataTypes
* Tables
* Joins
* Python - SQLAlchemy
* SQL + Pandas implementation!

## Why do I need it?

* Peristence of data
* Csvs might not be suitable anymore:
    * No data sanitation
    * Cannot share between clients (download continually data from multiple sources and create a single file)
    * Files can get corrupted, inconsistent, no security, easily deleted etc...
    * What if something happens during a write?
    * Parallel writing
    * Speed of writing/reading

* Lookup in the dataset! Always need to load the whole thing

## Relational databases

* optimize storage -> use normalized data - discover relations using joins
* normalization of data - each table contains its specific data and relates to others through keys
* designed on ACID principle - Atomicity, Consistency, Isolation, Durability
* store huge data 
* read it very fast - depending on the design
* Many different applications!
    * Business
    * Web-servers
    * Big data
    
* Protected access with username / password, vpns, etc.

## SQL
*Structured Query Language*
* Human (easily) readable
* Different implementations
    * engines: SQLite, MySQL, Oracle, PostgreSQL
* SQL is only a language
* Data are stored in *Tables* 
* Connected via *Relations*
* NoSQL - MongoDB, CouchDB, DynamoDB - they optimize access speed, instead of storage (now storage is cheap), async, scalable and latency optimal
* Distributed databases such as Apache Hive - big data databases (map-reduce) how
![image.png](google.png)



### Database Layers
![alt text](sql_struktura.png "sql structures")


### Tables
![alt text](stock-db.png "Our DB")


### Data Types
depends on specific application
* numeric
    * INT, INTEGER, REAL, FLOAT, DOUBLE etc.
* strings
    * STRING, TEXT, VARCHAR
* more specialized
    * DATE, TIME etc.


## How to use it? 
* Command-line
* Python drivers
* Programming interface
* GUI Interface - [DBeaver](https://dbeaver.io/)
* Integration with existing software - MS Office, etc

## My problem - I want to keep data about stocks for analysis

* Would I always need to download data which does not chage?
* Run different queries - analysis
* More stocks can be added any day
* Keep format

In [39]:
#!pip install yfinance

import yfinance as yf

msft = yf.Ticker("MSFT")

In [ ]:
dir(msft)

In [ ]:
#data like this so what do I want to keep? and how?
msft.info

## Lets create a database for this data

* Where to store it?
  *  memory: fast, will be lost once exited
  * personal computer - why not, but can be lost, ?performance?
  * cloud server - SaaS - https://aws.amazon.com/rds/postgresql/ - if you want to learn this, drop as an email, we might add it to the course


* Demo - postgresql server instance running in Docker on your computer - quick to start using, no installation etc.
  * ! docker will create a container where the data will be stored - if you lose the image, you lose the data!
  * It is possible to create have the data in a specific directory, thus persistent - if you really really need persistence of the data, get the cloud server, or read the manual https://hub.docker.com/_/postgres

### which docker image? 
https://hub.docker.com/_/postgres
    
docker allows me to easily specify versions, size of image and other things!

### if you have docker running on your machine, you can easily start the database from terminal / command line

* I am running latest postgres 12 based on alpine linux system (dont really care when in docker, but it is slim)
* Specifying the image name `--name your name` - I can stop it `docker stop name` and start it again `docker start name`
   * if not supplied, it will be created by docker with some funny adjective of a scientist like 'crazy einstein' etc.
* specify env variables which will customize the DB (password and postgres user)
* specify on which port I can access the db -p 5423:5432 `-p 5423:5432` - in the docker it runs on default postgres 5432, I want to get there through my own 5432 port, since nothing is running there. 

* recommending add `-d` so it runs in backgroung

* access logs `docker logs stock-db`


`docker run -d --name stock-db -e POSTGRES_PASSWORD=iesFTW -e POSTGRES_USER=honza -p 5432:5432 postgres:12-alpine`

### how to connect?

* Now we have a server - we need a client (like with requests - browser)
   * Not a bad idea to get familiar with command line tools `psql` client  - on MacOS `brew install libpq`
   * GUI clients - multiplatform https://dbeaver.io/ and others  - on macOS `brew cask install dbeaver-community`   
 
* terminal connect:
   * `psql -h localhost -U honza postgres` and put in password `iesFTW`
   * `\dt+` command to show all tables
   * default database name is `postgres`, thats the last parameter. You can customize it with docker
   * by default `psql` would connect you to database with name same as the user (jansila) in my case, so do not get confused here
 
* DBeaver as shown in video

### Crucial commands

* CREATE TABLE
* INSERT INTO ... VALUES ....
* SELECT * FROM ...

## Data types

like in python - int, string (varchar, text), float, boolean, even json, arrays, coordinates etc..
https://www.postgresql.org/docs/10/datatype.html

In [43]:
#save some data - design a database

# determine appropriate structure!

# tables - company, financials, prices
# each has own purpose

sql_create_company = """ CREATE TABLE IF NOT EXISTS company (
                            ticker VARCHAR(5) PRIMARY KEY, --max length of a ticker is 5
                            name TEXT NOT NULL, --cannot be empty
                            sector TEXT,
                            state TEXT,
                            summary TEXT)
"""


sql_create_financials = """CREATE TABLE financials (
    ticker VARCHAR(5) PRIMARY KEY, -- in more advanced designs, we would create this as foreign key! only one observation per ticker
    shares BIGINT,
    div_yield REAL,
    beta REAL
)"""

sql_create_prices = """CREATE TABLE IF NOT EXISTS prices (
    ticker VARCHAR(5),
    ts DATE NOT NULL,
    price REAL,
    volume BIGINT --in milions
    )
    """

In [44]:
# lets connect
import psycopg2 #only for PostgreSQL

connection = psycopg2.connect("dbname='postgres' user='honza' host='db' password='iesFTW'") 
connection.autocommit = True #bit advanced
# in order to work with the DB, we need a cursor 

cursor = connection.cursor() #this object interacts with the DB with a proper protocol - like browser

for sql_statement in [sql_create_company, sql_create_financials, sql_create_prices]:
    print(sql_statement)
    cursor.execute(sql_statement)

 CREATE TABLE IF NOT EXISTS company (
                            ticker VARCHAR(5) PRIMARY KEY, --max length of a ticker is 5
                            name TEXT NOT NULL, --cannot be empty
                            sector TEXT,
                            state TEXT,
                            summary TEXT)

CREATE TABLE financials (
    ticker VARCHAR(5) PRIMARY KEY, -- in more advanced designs, we would create this as foreign key! only one observation per ticker
    shares BIGINT,
    div_yield REAL,
    beta REAL
)

DuplicateTable: relation "financials" already exists

In [45]:
def write_company_data(cursor, ticker, td):
    cursor.execute("INSERT INTO company (ticker, name, sector, state, summary) VALUES (%s, %s, %s, %s, %s)", 
                       (ticker, td['shortName'], td['sector'], td['state'], td['longBusinessSummary'])
                  )
def write_financial_data(cursor, ticker, td):
    cursor.execute("INSERT INTO financials (ticker, shares, div_yield, beta) VALUES (%s, %s, %s, %s)", 
                       (ticker, td['floatShares'], td['dividendYield'],td['beta'])
                  )

def write_prices(cursor, ticker, data):
    for row in data.iterrows():
        ts = row[0]
        close = row[1]['Close']
        vol = row[1]['Volume']
        cursor.execute("INSERT INTO prices (ticker, ts, price, volume) VALUES (%s, %s, %s, %s)", 
                       (ticker, ts, close,vol)
                  )
        
## add some data in the db
tickers = ['MSFT', 'FB','GOOG','GS','INTC', 'AAL', 'AAPL']

#yf api https://aroussi.com/post/python-yahoo-finance

for ticker in tickers: 
    td = yf.Ticker(ticker)
    print(f'processing {ticker}')
    #write some company info and then check it
    write_company_data(cursor, ticker, td.info)
    write_financial_data(cursor, ticker, td.info)
    write_prices(cursor, ticker, td.history('ytd'))
    
print('we are done')

processing MSFT
processing FB
processing GOOG
processing GS
processing INTC
processing AAL
processing AAPL
we are done

In [91]:
cursor.execute("SELECT ticker, name, sector FROM company;")

In [92]:
cursor.fetchall()

[('MSFT', 'Microsoft Corporation', 'Technology'),
 ('FB', 'Meta Platforms, Inc.', 'Communication Services'),
 ('GOOG', 'Alphabet Inc.', 'Communication Services'),
 ('GS', 'Goldman Sachs Group, Inc. (The)', 'Financial Services'),
 ('INTC', 'Intel Corporation', 'Technology'),
 ('AAL', 'American Airlines Group, Inc.', 'Industrials'),
 ('AAPL', 'Apple Inc.', 'Technology')]

In [93]:
#check all companies we downloaded

cursor.execute("SELECT ticker, name, sector FROM company;")

for row in cursor.fetchall(): #cursor.fetchone(), 
    print(f'downloaded {row[1]} that operates in {row[2]} and has ticker: {row[0]}')

downloaded Microsoft Corporation that operates in Technology and has ticker: MSFT
downloaded Meta Platforms, Inc. that operates in Communication Services and has ticker: FB
downloaded Alphabet Inc. that operates in Communication Services and has ticker: GOOG
downloaded Goldman Sachs Group, Inc. (The) that operates in Financial Services and has ticker: GS
downloaded Intel Corporation that operates in Technology and has ticker: INTC
downloaded American Airlines Group, Inc. that operates in Industrials and has ticker: AAL
downloaded Apple Inc. that operates in Technology and has ticker: AAPL

In [90]:
cursor.fetchall()

[]

In [94]:
cursor.execute("SELECT ticker, name, sector from company;")

In [95]:
cursor.fetchone()

('MSFT', 'Microsoft Corporation', 'Technology')

In [96]:
#or iterate 
cursor.execute("SELECT ticker, name, sector from company;")

for row in cursor:
    print(row)

('MSFT', 'Microsoft Corporation', 'Technology')
('FB', 'Meta Platforms, Inc.', 'Communication Services')
('GOOG', 'Alphabet Inc.', 'Communication Services')
('GS', 'Goldman Sachs Group, Inc. (The)', 'Financial Services')
('INTC', 'Intel Corporation', 'Technology')
('AAL', 'American Airlines Group, Inc.', 'Industrials')
('AAPL', 'Apple Inc.', 'Technology')

In [101]:
#check all technology companies we downloaded

#df[df.sector=='Tech'] #where clause
 
#case 1
# cursor.execute("SELECT ticker, name FROM company WHERE sector = 'Technology';")
# for row in cursor.fetchall():
#     print(f'downloaded {row[1]} and has ticker: {row[0]}')

# print('-----')
#check all technology companies we downloaded
#case 2
# cursor.execute("SELECT ticker, name from company where sector = %s;", ('Technology', )) #input needs to be a tuple!
# for row in cursor.fetchall():
#     print(f'downloaded a tech company {row[1]} and has ticker: {row[0]}')
    
    
    
print('-----')

#check all Tech and Industrial companies we downloaded
#case 3
for industry in [('Technology',), ('Industrials',)]:

    cursor.execute("SELECT ticker, name from company where sector = %s;", industry) #input needs to be a tuple!
    for row in cursor.fetchall():
        print(f'downloaded a {industry[0]} company {row[1]} and has ticker: {row[0]}')

-----
downloaded a Technology company Microsoft Corporation and has ticker: MSFT
downloaded a Technology company Intel Corporation and has ticker: INTC
downloaded a Technology company Apple Inc. and has ticker: AAPL
downloaded a Industrials company American Airlines Group, Inc. and has ticker: AAL

In [102]:
# joins
# just like in pandas

# I have information in company table as well as financials which I wan to use at the same time!

cursor.execute("""SELECT comp.ticker, comp.sector, fin.shares 
                    
                    from company as comp 
                    
                        join financials as fin 
                    
                    on fin.ticker=comp.ticker
                ;""")
for row in cursor.fetchall():
    print(f'ticker {row[0]} in sector {row[1]} with {row[2]} shares outstanding')

ticker MSFT in sector Technology with 7500172144 shares outstanding
ticker FB in sector Communication Services with 2350558973 shares outstanding
ticker GOOG in sector Communication Services with 578244641 shares outstanding
ticker GS in sector Financial Services with 348315120 shares outstanding
ticker INTC in sector Technology with 4063217690 shares outstanding
ticker AAL in sector Industrials with 642394771 shares outstanding
ticker AAPL in sector Technology with 16389334347 shares outstanding

### JOINS 

* connecting tables - relations!

<img src='https://4.bp.blogspot.com/-_HsHikmChBI/VmQGJjLKgyI/AAAAAAAAEPw/JaLnV0bsbEo/s1600/sql%2Bjoins%2Bguide%2Band%2Bsyntax.jpg' width="800" />

### Inner
* most common - give me the match!
* when you see match, keep it, otherwise drop it.

### Left 
* INNER + rows from LEFT with no match in the RIGHT

In [103]:
cursor.execute("""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;""")
for row in cursor.fetchall():
    print(f'ticker {row[0]} in sector {row[1]} with {row[2]} shares outstanding')

ticker MSFT in sector Technology with 7500172144 shares outstanding
ticker FB in sector Communication Services with 2350558973 shares outstanding
ticker GOOG in sector Communication Services with 578244641 shares outstanding
ticker GS in sector Financial Services with 348315120 shares outstanding
ticker INTC in sector Technology with 4063217690 shares outstanding
ticker AAL in sector Industrials with 642394771 shares outstanding
ticker AAPL in sector Technology with 16389334347 shares outstanding

In [ ]:
!pip install sqlalchemy

In [ ]:
from sqlalchemy import *
import pandas as pd

#                 connect as driver://username:password@host:port/database
engine = create_engine('postgresql://honza:iesFTW@db:5432/postgres') #postgresql.connection - similar object

In [104]:
#pandas + psycopg2

pd.read_sql_query("""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;""", connection, index_col='ticker')

                        sector       shares
ticker
MSFT                Technology   7500172144
FB      Communication Services   2350558973
GOOG    Communication Services    578244641
GS          Financial Services    348315120
INTC                Technology   4063217690
AAL                Industrials    642394771
AAPL                Technology  16389334347

In [105]:
#pandas + sqlalchemy
pd.read_sql_query(
"""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;"""
    ,con=engine,index_col='ticker')

                        sector       shares
ticker
MSFT                Technology   7500172144
FB      Communication Services   2350558973
GOOG    Communication Services    578244641
GS          Financial Services    348315120
INTC                Technology   4063217690
AAL                Industrials    642394771
AAPL                Technology  16389334347

In [106]:
#multiple joins with WHERE clause!

pd.read_sql_query("""SELECT comp.ticker, fin.shares,fin.div_yield, px.price as lprice
                    
                    from company as comp 
                        
                        join financials as fin
                            on fin.ticker=comp.ticker
                        
                        join prices as px
                            on px.ticker=comp.ticker
                        
                        WHERE px.ts='2021-03-18'
                  """,connection, index_col='ticker')

#SQL has order of business, it selects on WHERE, then joins

             shares  div_yield      lprice
ticker
MSFT     7500172144     0.0073   229.32909
FB       2350558973        NaN   278.62000
GOOG      578244641        NaN  2036.22000
GS        348315120     0.0202   345.15152
INTC     4063217690     0.0279    62.49633
AAL       642394771        NaN    24.70000
AAPL    16389334347     0.0055   119.97051

<img src='sql_order.png' width="1800" />

In [ ]:
#algebra within a query

pd.read_sql_query("""SELECT comp.ticker, fin.shares, px.price as lprice, fin.shares*px.price/1e9 as mktcap_in_billions
                    from company as comp 
                        join financials as fin
                            on fin.ticker=comp.ticker
                        join prices as px
                            on px.ticker=comp.ticker
                        where px.ts='2020-01-02'
                  """,connection, index_col='ticker')

In [108]:
#all prices and calculated market caps

pd.read_sql_query("""SELECT comp.ticker, px.price as lprice, px.ts, fin.shares*px.price/1e9 as mktcap_in_billions
                    from company as comp 
                        join financials as fin
                            on fin.ticker=comp.ticker
                        join prices as px
                            on px.ticker=comp.ticker;
                  """,connection, index_col='ticker')

           lprice          ts  mktcap_in_billions
ticker
MSFT    215.88042  2021-01-04         1619.140289
MSFT    216.08868  2021-01-05         1620.702329
MSFT    210.48563  2021-01-06         1578.678430
MSFT    216.47542  2021-01-07         1623.602901
MSFT    217.79437  2021-01-08         1633.495286
...           ...         ...                 ...
AAPL    153.49000  2021-11-17         2515.599019
AAPL    157.87000  2021-11-18         2587.384133
AAPL    160.55000  2021-11-19         2631.307679
AAPL    161.02000  2021-11-22         2639.010687
AAPL    159.38000  2021-11-23         2612.132188

[1582 rows x 3 columns]

In [110]:
#create turnover variable

cursor.execute("""
                ALTER TABLE prices 
             ADD COLUMN IF NOT EXISTS turnover REAL;
             """)

cursor.execute("UPDATE prices SET turnover = volume*price") #df['turnover']=df.volume*df.price

pd.read_sql_query("""SELECT * from prices WHERE ticker='AAPL';
                  """,connection, index_col='ticker')

                ts      price     volume      turnover
ticker
AAPL    2021-01-04  128.61711  143301900  1.843108e+10
AAPL    2021-01-05  130.20730   97664900  1.271668e+10
AAPL    2021-01-06  125.82432  155088000  1.951384e+10
AAPL    2021-01-07  130.11786  109578200  1.425808e+10
AAPL    2021-01-08  131.24094  105158200  1.380106e+10
...            ...        ...        ...           ...
AAPL    2021-11-17  153.49000   88807000  1.363099e+10
AAPL    2021-11-18  157.87000  137827700  2.175886e+10
AAPL    2021-11-19  160.55000  117147500  1.880803e+10
AAPL    2021-11-22  161.02000  117342000  1.889441e+10
AAPL    2021-11-23  159.38000   56804640  9.053524e+09

[226 rows x 4 columns]

# SANITIZE YOUR INPUTS

<Img src='https://imgs.xkcd.com/comics/exploits_of_a_mom.png' />